body        { background: #EEE; margin: 0; padding: 0 0; height: 100%; width: 100%; }
body, input { font-family: 'Helvetica Neue', Arial,
              sans-serif; font-weight: 300; font-size: 14px; }
a           { color: #000; text-decoration: none; }
a:hover     { background-color: #E8E8E8; }
h1, h2      { margin: 0; color: #222; }
h1 a        { text-decoration: none; }
h2          { font-weight: normal; font-size: 24px; }
.tagline    { color: #888; font-style: italic; margin: 0 0 20px 0; }
.link div   { overflow: auto; font-size: 0.8em; white-space: pre;
              padding: 4px 10px; margin: 5px 0; background: #EEE; }
dt          { font-weight: normal; }
.flashes    { margin-right: 5px; }
.flashes .flash   { padding: 3px 8px; border-radius: 2px; width: auto; }
.flash    { border-radius: 2px; width: auto; display: inline; }
.error    { background: #fDD; color: #C00; }
.warn     { background: #feD; color: #C80; }
.flashes .error { padding: 3px 8px; border-radius: 2px; }
.flash .message { background: #DfD; color: #00CC00; }
.urlinput   { width: 300px; }
.inline     { display: inline; }
div.buttons { padding-top: 10px; }
h1.admin    { background: #FEE; }

img#logo {
	position: fixed;
	top: 0px;
	right: 0px;
}
input.enter { background: white;
              border: 2px solid #aaa;
	      text-decoration : none;
              padding: 3px 6px;
              margin-top: 10px;
              margin-right: 8px;
              border-radius: 4px; }
input.enter:hover{ background: #EFE; }
input.enter:active{color: #000; background: #AFA; }

input.delete { background: white;
              border: 2px solid #aaa;
	      text-decoration : none;
              padding: 3px 6px;
              margin-top: 10px;
              margin-right: 8px;
              border-radius: 4px; }
input.delete:hover{ background: #FEE; }
input.delete:active{color: #000; background: #FAA; }

a.edit      { background: white; 
              border: 2px solid #aaa;
	      text-decoration : none;
              padding: 3px 6px;
              margin-top: 10px;
              margin-right: 8px;
              border-radius: 4px; }
a.edit:hover{ background: #EEE; }
a.edit:active{color: #000; background: #AAA; }

a.cancel      { background: white; 
              border: 1.5px solid #aaa;
	      text-decoration : none;
              padding: 3px 6px;
              margin-right: 8px;
              border-radius: 4px; }
a.cancel:hover{ background: #EEE; }
a.cancel:active{color: #000; background: #AAA; }

span.yes    { color: #080; }
span.no     { color: #800; font-weight: bold; }
pre         { margin-left: 2em; margin-right: 2em; }

td { padding-right: 5px; }

textarea { width: 30em; height: 10em; font-family: Courier, monospace; }

/****** basic page layout **********************/

div#header { position: absolute; top: 0px; width: 100%; font-size: 0.7em; }
div.inside { margin: 5px; }
div#page {
    position: absolute; top: 200px; bottom: 30px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -icab-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: auto;
    direction:rtl; 
}
div.inside {
    direction:ltr;
}
div#page div.inside.monitor {
	margin-left: 0px;
}
tbody#log th {
	padding-left: 0px;
	padding-right: 0px;
}

div#footer  { position: absolute; bottom: 0px; width: 100%; font-size: 0.7em; }
div#footer div.left { float: left; text-align: left; }
div#footer div.right { float: right; text-align: right; } 


/****** monitor *************/

div#log        { font-size: 0.8em; overflow: auto; height: inherit; }
div#log ul     { list-style: none; padding-left: 0px; }
div#log .error { padding: 3px 8px; border-radius: 2px; width: auto; background: #ffDDDD; color: #CC0000; font-size: 1.3em; }
div#log .info  { padding: 3px 8px; border-radius: 2px; width: auto; background: #DDffDD; color: #00CC00; font-size: 1.3em; }
div#log .audit { background: #DDDDff; color: #0000CC; }
div#log .intercom { background: #DDffff; color: #00CCCC; }

table.single th { text-align: right; padding-right: 1em; }
table.multi  th { text-align: left; }

.hflow { float: left; margin-right: 2em; }
.wide  { box-sizing: border-box; clear: left; margin-right: 2em; }

/****** tell the footer to stay at the bottom ****************/
html, body { height:100%;            /* to keep .footer on bottom */
             margin:0;               /* to get rid of scroll bar, because (100% + default margin = scroll) */
}

/****** datetime ********************/
div.time-picker {
  position: absolute;
  height: 191px;
  width: 4em;
  overflow: auto;
  background: #fff;
  border: 1px solid #aaa;
  z-index: 99;
  margin: 0;
}
div.time-picker-12hours {
  width: 6em;
}

div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.time-picker li {
  cursor: pointer;
  height: 10px;
  font: 12px/1 Helvetica, Arial, sans-serif;
  padding: 4px 3px;
}
div.time-picker li.selected {
  background: #0063CE;
  color: #fff;
}

/****** monitor ****************/

div#page, div#page div.inside, tbody#log, tbody#log tr { min-width: 90%; }
tbody#log td { white-space: nowrap; min-width: 70%; }
tbody#log th { white-space: nowrap; font-style: normal; font-size: 0.8em; }
tbody#log tr:hover { background: #f8f8f8; }
th.pops { vertical-align:text-top; padding-top: 4px; }
th.pops:hover { z-index: 6; }
th.pops div.dump {position: absolute; left: 2%; display: none; margin: 20px 0 0 0px; padding: 3px 3px 3px 3px; text-align: left;
	white-space: pre; background: #ffffff; border-style:solid; border-color:black; border-width:1px; z-index: 6;
	font-style: normal; font-family: Courier, monospace; }
th.pops:hover div.dump {display: block; white-space: pre; left: 2%; background: #ffffff;} 
/****** menu ********************/

nav ul {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	display: none;
}
nav.hidden ul {
	display: none;
}
nav {
	position: fixed;
	top: 61px;
	right: 0px;
	width: 148px;
	z-index: 10;
	list-style: none;
	font-size: 14pt;
}
nav, nav ul { /* all lists */
	list-style: none;
	background: white;
	font-size: 14pt;
}

/* #sidebar > ul {width: 9em; margin-left: -1px; font-size: 85%;} */

nav li { /* all list items */
	position : relative;
	line-height : 1.25em;
}

nav li ul { /* second-level lists */
	position: absolute;
	margin-top : -22px;
	right: 0px;
	margin-right : 148px;
	border-top: none;
	font-size: 12pt;
}

nav li a, nav li span {
	display : block;
	color : #555;
	font-weight : bold;
	text-decoration : none;
	padding : 0 0.5em;
}

nav li span {
	background-color : transparent;
	color : #777;
	font-style: italic;
}

nav li span.menusubonly {
        font-style: normal;
}

nav li li span {
	background-color : #EEE;
	color : #777;
}

nav li a:hover, nav li a:active {
	color : white;
	background-color : #555;
	text-decoration : underline;
}

/* lists nested under hovered list items */
nav li:hover ul, nav li li:hover ul, nav li li li:hover ul,
nav li:active ul, nav li li:active ul, nav li li li:active ul {
	background: white;
}

/* the hovered item, while the mouse is in the submenu */
nav li:hover, nav li li:hover, nav li li li:hover,
nav li:active, nav li li:active, nav li li li:active {
	background-color : #EEE;
}

/* disabled/whitespaced main menu when hovering */
nav li:hover span,
nav li:active span {
	background-color : transparent;
	background-color : #EEE;
	cursor: default;
}

/* lists nested under hovered list items (disabled) */
nav li:hover li span,
nav li:active li span {
	background-color : #EEE;
	cursor: default;
}

/* items our current location is under */
nav li a.menusuper {
	background-color : transparent;
	color : #777;
	font-style: italic;
}
nav li a.menumain {
	background-color : transparent;
	color : #555;
}

nav li:hover a.menusuper, nav li li:hover a.menusuper, nav li li li:hover a.menusuper,
nav li:active a.menusuper, nav li li:active a.menusuper, nav li li li:active a.menusuper {
	background-color : #EEE;
	font-style: italic;
}
nav li:hover a.menumain,
nav li:active a.menumain {
	background-color : #555;
	color : white;
}
nav li a.menusuper:hover,
nav li a.menusuper:active {
	background-color : #555;
	color : white;
	font-style: italic;
}

/* hiding the navigation */

nav:hover ul,
nav:active ul {
	display: block;
}
nav:hover li ul,
nav:active li ul { /* second-level lists */
	display: none;
}
nav:hover li ul ul,
nav:active li ul ul { /* third-and-above-level lists */
	display: none;
}
nav:hover li:hover ul ul, nav:hover li:hover ul ul ul,
nav:active li:active ul ul, nav:active li:active ul ul ul {
	display: none;
}
nav:hover li:hover ul, nav:hover li li:hover ul, nav:hover li li li:hover ul,
nav:active li:active ul, nav:active li li:active ul, nav:active li li li:active ul {
	display: block;
}



/*
nav li.sub:hover {margin-left: -10.2em; background: #DDB;}
nav li.sub:hover > a {color: #330;}
nav li.sub:hover > ul {top: 1.75em; left: -1px; background: #FEFEFC;}
*/


a {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
-ms-user-select: none;
user-select: none; }
